<!DOCTYPE html>
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }

  %body

    %h2 Password recovery

    %p
      Hello, 
      = @user.full_name

    %p We heard that you forgot your password, so we've generated a new one for you.
    %p
      Here it is:
      %b= @user.password
      try not to forget it this time!

    %p
      You can
      =link_to "sign in", signin_path
      with this password, using your email or login