
= gmaps(:map_options => { :container_class => "map_container span5",
                          :auto_zoom => false,
                          :zoom => 16 },
        :markers => { :data => @user.to_gmaps4rails} )

:javascript
  $(function() {
    Gmaps.map.callback = function() {
      var geocoder = new google.maps.Geocoder();
      var map = Gmaps.map.serviceObject;
      var locationInputs = $('fieldset.user-location input[type="text"]');

      function showUserLocation() {
        var addressParts = [];
        locationInputs.each(function() {
          if (this.value) {
            addressParts.push(this.value);
          }
        });
        
        showLocationOnMap(addressParts.join(', '));
      }

      function showLocationOnMap(address) {
        geocoder.geocode({address: address}, function(results, status) {
          if (status != google.maps.GeocoderStatus.OK)
            return;

          var foundLocation = results[0].geometry.location;

          map.setCenter(foundLocation);
          Gmaps.map.replaceMarkers([{
            id: 1,
            title: "Your new location",
            lat: foundLocation.lat(),
            lng: foundLocation.lng()
          }]);
        });
      }

      locationInputs.change(showUserLocation);
    }
  });