%h1
  Advertisement
  = "\##{@advertisement.id}"


%img.adv-big-picture.pull-left{ :src => @advertisement.picture.url(:medium) }

= sanitize(textilize(@advertisement.content))

= render :partial => "sidebar", :locals => { :ad => @advertisement }
