
@import "bootstrap";

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

.adv-body {
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
}

.adv-info {
  a {
    color: grey;
  }
}